@import "tailwindcss";

/* .card-shape {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 85% 100%, 0 100%);
} */


.text-outline {
  -webkit-text-stroke: 1px #a3a3a3;
  color: transparent;
}




@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}



@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 30s linear infinite;
}